.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  padding-top: 70px;
  transition: margin-left 0.2s ease-out;
}

.main-content.with-sidebar {
  margin-left: 250px; /* Add this class conditionally when sidebar is open */
}
