body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.todo-list {
  margin: 0 auto;
  padding: 0;
  /* reset default padding */
  list-style: none;
  /* remove bullets if you like */
}

.todo-app-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.todo-app-description {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
    margin-top: 0.8rem;
  color: #666;
}
