/* src/components/TodoApp.module.css */

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

/* All rows share full width */
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  gap: 1rem;
}

.todoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
